/*webkit scroll*/
::-webkit-scrollbar-track-piece {background-color:#f5f5f5;}
::-webkit-scrollbar {width:6px;height:13px;}
::-webkit-scrollbar-thumb {background-color:#c2c2c2;background-clip:padding-box;min-height:28px;border-radius:3px;}
::-webkit-scrollbar-thumb:hover {border:1px solid #636363;background-color:#929292;}
/* style */
body,html{height: 100%;overflow: hidden;background-color:#efefef;}
body{ background-size:cover;background-position: center;background-attachment: fixed;}
.body{position: relative;height: 100%;}
.head{position: relative; background:#333;height: 45px; color:#fff;z-index: 2;}
.head_T{position: absolute; font-size:22px;opacity: .9;float: left;margin:0 1em;
	font-family: arial;line-height: 45px;cursor: pointer;}
.head_T:hover{opacity: 1;}
.head_right{position: absolute;right:0;top:0; margin:0 1em; line-height: 45px;}
.head_right .ion{font-size:1.2em;}
.head_right .userMenu{width:8em;}
.search{ width: 440px;margin:auto;opacity: .5;transition:all ease .3s;height: 100%;}
.search.focus{width: 900px;opacity: 1;}
.search .input-lg{height: 45px;line-height: 45px;}
.main{position: relative; z-index: 1;}
.main .scroller{ height: 100%; overflow: auto;}
.foot{background: #333; padding: 24px; overflow: hidden;color:#666;margin:50px 0 0 45px;
border-top:10px solid #ff6908;font-size:14px;}
.foot a:hover{color:#eee;}

.menu-bar{position: absolute;left: 0;top:0;width: 45px;height: 100%;background:#fff;opacity: .6;
-webkit-transition:all ease .32s;
        transition:all ease .32s; z-index: 1;border-right:1px solid #ccc;background:#fff;}
.menu-bar:empty{left:-45px;}
.menu-bar:hover{opacity: 1;width: 150px;}
.main-nav{width: 100%;overflow: hidden; }
.main-nav li{height: 45px;line-height: 45px;width: 150px;cursor: pointer;color:#777;}
.main-nav li a{display: block;color: inherit;}
.main-nav .ion{margin:0;width: 45px;text-align: center;font-size:22px;}
.main-nav .cur{background:#ccc;color:#333;}
.main-nav li a:hover{background:#eee;color:#333;}
.sub-nav{position: absolute;left: 100%;top:0;height: 100%;overflow: hidden;background:#eee;
border-right: 1px solid #ccc;color:#aaa;width: 0;overflow: hidden;-webkit-transition:width ease .32s;transition:width ease .32s;}
.sub-nav ul{padding:0 0 14px; width: 120px;}
.sub-nav li{height: 45px;line-height: 45px;cursor: pointer;color:#666;}
.sub-nav li a{display: block;color: inherit;padding:0 14px;}
.sub-nav .cur{background:#aaa;color:#fff;}
.sub-nav li a:hover{background:#666;color:#fff;}
.sub-nav.show{width: 120px;}
.mainCont{padding: 60px 20px 20px;background:rgba(255,255,255,.7);border-radius: 4px;}
/*欢迎屏*/
.welcome{padding-bottom: 20%;padding-top: 10%;}
.welcome ._cont{padding: 20px; background: rgba(255,255,255,.7);width:400px;border-radius: 4px;}
.welcome ._T{ text-align: center; border-bottom: solid 1px #e5e5e5;
  padding-bottom: 15px;  margin: 0 0 20px;font-size: 30px;}
.welcome ._p{  font-size: 20px; color: #777;line-height: 1.6;}

.quickStart{margin:80px auto 0;}
.filter{margin-bottom: 40px;}
#configCode{height: 100px;resize:none;border-style: dashed;line-height: 1.7;
font-family: 'Consolas', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, Helvetica, sans-serif;}
.tagWrap .btn{margin:0 .5em .5em 0;}
/*组件列表*/
.widget-list {position: relative; min-height: 300px;}
.widget-list li{margin-bottom:30px;cursor: pointer;}
.widget-list ._layer{ position: relative; background:#fff;padding:0 0 14px;
box-shadow: 0 1px 2px rgba(0,0,0,.2);overflow: hidden;}
.widget-list ._album{margin-bottom: .5em;background:#eee;}
.widget-list ._album:after{position: absolute;content: "";left: 0;width: 100%;bottom:0;
border-top:1px solid #eee;}
.widget-list ._full{/*width:auto;height: auto;*/ max-height:100%;}
.widget-list ._t{font-size:18px;font-weight: 100;padding:0 10px ;}
.widget-list p{padding:0 1em;font-size:12px;color:#999;}
.widget-list ._name{position: absolute;right: -150px;top:-80px;width:150px;height: 80px;line-height: 50px;
text-align: right; -webkit-transition:all ease .32s; transition:all ease .32s;}
.widget-list ._name span{display: block;position: relative;z-index: 2;color: #fff;padding:0 .5em;}
.widget-list ._name:before{content: ""; position: absolute;width:0;height: 0;border-style:solid;
border-color:#c5a167 #c5a167 transparent transparent;right: 0;top:0;border-width:40px 75px;
z-index: 1;}
.widget-list ._layer:hover{box-shadow: 0 0 4px rgba(0,0,0,.3);}
.widget-list ._layer:hover ._album:after{border-color:#ccc;}
.widget-list ._layer:hover ._name{right: 0;top:0;}
.widget-list .widget_empty_tip{font-size:42px;text-align: center;padding:30px 0;}

/*弹窗*/
.playTime{position: absolute;left:0;top:0; width:100%;height:100%; background:#eee;box-sizing:border-box;padding-top: 45px;z-index: 10;}
.playTime_head{position: absolute;left:0;top:0;width:100%; height: 45px;}
.playTime_title{text-align:center;line-height: 45px;font-size:18px;color:#333;}
.playTime_close{position: absolute; font-size:22px;cursor: pointer;width:45px;text-align: center;
height: 40px;line-height: 40px;right: 0;top:0;}
.playTime_close:hover{opacity: .8;}
.play_area{width:1200px; background:#fff; height: 90%;padding:20px;border-radius: 4px;box-sizing:border-box;
	box-shadow: 1px 1px 4px rgba(0,0,0,.3) inset; overflow-x:hidden;overflow-y:auto;}

/*去滚动条*/
.docStatic{height: 100%;}
.docStatic body{height: 100%;overflow: hidden;}

.playTime_panel{position: fixed;right: 0;top:0;height: 100%;width:0;z-index: 12;}
.playTime_mark{position: absolute;left: 0;width: 280px;height: 80%;top:10%;border-radius: 4px 0 0 4px;padding:36px 0 15px;
 -webkit-transition:left ease .32s; transition:left ease .32s;z-index: 1;background:#434343;color:#dedede;font-family: serif;}
.playTime_mark.show{left: -280px;z-index: 2;}
.playTime_mark ._tag{position: absolute;width: 100px;height: 40px;line-height: 40px;background:#333;
color:#fff;font-size:14px;border-radius: 0 16px;text-align: center;
left: -100px;cursor: pointer;}

.playTime_mark .panelWrap{height: 100%; overflow-y: auto;overflow-x: hidden;}
.playTime_mark .config-pannel{padding:0;}
.playTime_mark .config-pannel .form-group:hover{background:#333;color:#fff;}
.playTime_mark .config-pannel .control-label{cursor: pointer;}

.playTime_panel ._configpanel ._tag{ top:100px;}
.playTime_panel ._getmerge ._tag{ top:150px;}
.playTime_panel ._getconfig ._tag{ top:200px;}
.playTime_panel ._getconfig form{height: 100%;}
.playTime_panel ._getconfig .configCodeBox{height: 100%;resize:none;cursor: pointer;
background:rgba(255,255,255,.8);color:#666;overflow: auto;line-height: 1.7;
font-family: 'Consolas', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, Helvetica, sans-serif;}
.playTime_panel ._getconfig .configCodeBox:hover{background:#fff;color:#333;}

/*mergeQueue*/
.innerList{width:100%;max-width: 1200px;height:90%;margin:auto; padding:1% 0;
	overflow-y: auto;overflow-x: hidden;}
.choosewidget .wrap_body{background:#bad0f1;}
.mergeQueue{height: 100%;}
.mergeQueue ._queue{overflow: auto;}
.mergeQueue ._queue li{position: relative; background:#fff; background-size:cover;}
.mergeQueue ._queue ._layer{background:rgba(255,255,255,.68);color:#666;}
.mergeQueue ._queue ._del{position: absolute;right: .5em;top:.5em;font-size: 1.5em; cursor: pointer;}
.mergeQueue ._queue ._del:hover{opacity: .8;}
.mergeQueue ._queue h5{font-size:1.2em; color:#333;}

/*loading*/
.bubblingG {position: absolute;left:50%;top:50%;  width: 80px; height: 50px; text-align: center; 
	margin:-40px 0 0 -25px;}
.bubblingG span { display: inline-block; width: 10px; height: 10px; margin: 25px auto; 
	-webkit-animation: bubblingG .6s infinite alternate; 
	animation: bubblingG .6s infinite alternate;
	vertical-align: middle;	border-radius: 50px; background: #000;}
#bubblingG_1 {-webkit-animation-delay: 0s; 	animation-delay: 0s;}
#bubblingG_2 {-webkit-animation-delay: 0.18s; animation-delay: 0.18s;}
#bubblingG_3 {-webkit-animation-delay: 0.36s; animation-delay: 0.36s;}
@-webkit-keyframes bubblingG { 0% { width: 10px; height: 10px; -webkit-transform: translateY(0);background-color: #000; }
    100% { width: 24px; height: 24px; -webkit-transform: translateY(-21px);background-color: #fff; }}
@keyframes bubblingG { 0% { width: 10px; height: 10px; transform: translateY(0);background-color: #000; }
    100% { width: 24px; height: 24px; transform: translateY(-21px);background-color: #fff; }}

.boxLayout{position: fixed;width:300px; padding:20px;left: 50%;top:35%; background:#fff;border-radius: 4px;overflow: hidden;
margin-left: -160px;box-shadow: 0 1px 6px rgba(0,0,0,.2);color:#434343;}
.boxHead{padding:.5em;}
.boxHead ._clo{cursor: pointer;font-size:1.5em;}

.userCount{padding:10px; height: 600px;overflow: auto;width:600px;font-family: serif;top:50%;margin-top: -300px;}
.select-ui-options-thin li .ion{margin-right: .5em;font-size:1.3em;vertical-align: middle;}
.globalMask{position: fixed;left: 0;top:0;width:100%;height: 100%;
  cursor: default;z-index: 999;}

.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-active {
  opacity: 0;
  transform: translateY(30px);
}
/* login */
.screenLayer{position: relative; width:100%;height: 100%;display: table;background:#fff;z-index: 99;}
.g-center{display: table-cell;background-color: #f5f5f5;border: 1px solid #e8e9eb;vertical-align: middle;}

