<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Widgets</title>
    <meta content="Widgets" name="Keywords">
    <meta content="Widgets" name="Description">
    <link rel="icon" href="favicon.ico">
    <meta name="format-detection" content="telephone=no">
    <link href="./css/ui.css" rel="stylesheet" />
    <link href="./css/platform.css" rel="stylesheet" />
    <style id="playingCss"></style>
</head>

<body>
    <div class="body flex-col" id="app">
        <my-head :info="userInfo" @search="search" @search-focus="searchFocus" @userset="setUserInfo" @update="update"></my-head>
        <div class="flex-1 flex-col main">
        	<my-nav :navdata="widgets" @main-nav-click="mainNavClick" @sub-nav-click="subNavClick"></my-nav>
	        <div class="scroller flex-1" id="main">
	            <!-- 首屏 -->
	            <div class="welcome" id="welcome">
	                <div class="_cont wrap">
	                    <div class="_T">欢迎使用前端组件管理系统</div>
	                    <div class="_p">&emsp;&emsp;集存储、检索、调试、应用于一体的组件库2.0，旨在提高组件定制性和复用性，提高基于组件的前端开发效率。</div>
	                    <!-- 贴代码 -->
	                    <div class="quickStart">
	                        <form v-on:submit.prevent="callWidget">
	                            <div class="form-group">
	                                <textarea v-model="callCode" class="form-control" id="configCode" placeholder="输入组件配置代码" spellcheck="false"></textarea>
	                            </div>
	                            <div class="form-group tc">
	                                <button type="submit" class="btn btn-block btn-lg btn-primary">召唤组件</button>
	                            </div>
	                        </form>
	                    </div>
	                </div>
	            </div>
	            <div class="wrap mainCont">
	                <!-- 筛选 -->
	                <my-filter :tags="tags" :bread="bread" @filter-tag="filterTag" @sort-by="sort"></my-filter>
	                <!-- 列表 -->
	                <component-list 
	                	:mywidgets="showingWidgets" 
	                	:sort="sortBy" 
	                	@widgetclick="widgetClick"
	                ></component-list>
	            </div>
	            <play-time v-show="!waitToChoose" v-if="playingWidgets.length" 
	            	:widgets="playingWidgets"
	            	:choosen="choosenWidget"
	            	:insertPlace="insertPlace"
	            	@close="playingWidgets=[]"
	            	@loading="callLoading"
	            	@beforechoose="waitToChoose=true"
	            ></play-time>

				<loading :show="showLoading"></loading>
	            <div class="foot">
	                <div>
	                    <p>© 2014 - 3014&emsp;Powered By [ <a href="https://github.com/tower1229/Flow-UI" target="_blank">Flow-UI</a>, <a href="https://github.com/vuejs/vue" target="_blank">Vue</a> ] </p>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
    <script src="./lib/sea.js" id="seajsnode"></script>
    <script src="lib/vue.js"></script>
    <script src="lib/axios.min.js"></script>
    <script src="lib/etpl.js"></script>
    <!-- <script src="https://cdn.wilddog.com/js/client/current/wilddog.js"></script> -->
    <script>
    seajs.use('./app/index');
    </script>
</body>

</html>
